In [1]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [2]:
n=int(input())
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1, end=" ")
    print()

5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [3]:
n=int(input())
for i in range(n):
    for j in range(i,-1,-1):
        print(i+1, end=" ")
    print()

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
n=int(input())
for i in range(n,0,-1):
    for j in range(i):
        print(i, end=" ")
    print()

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [10]:
n=int(input())
for i in range(n,0,-1):
    for j in range(i):
        print(j+1, end=" ")
    print()

5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
n=int(input())
for i in range(n,-1,-1):
    for j in range(i-1,-1,-1):
        print(j+1, end=" ")
    print()

5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
n= int(input())
for i in range(n):
    for j in range(i+1):
        print(n-i,end=" ")
    print()

5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [22]:
n= int(input())
for i in range(n):
    for j in range(i+1):
        print(n-j,end=" ")
    print()

5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [24]:
n= int(input())
for i in range(n):
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [25]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i+1):
        print(j+1,end=" ")
    print()

10
                  1
                1 2
              1 2 3
            1 2 3 4
          1 2 3 4 5
        1 2 3 4 5 6
      1 2 3 4 5 6 7
    1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [27]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

10
                  1
                2 1
              3 2 1
            4 3 2 1
          5 4 3 2 1
        6 5 4 3 2 1
      7 6 5 4 3 2 1
    8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
10 9 8 7 6 5 4 3 2 1

In [28]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(i+1,end=" ")
    print()

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [29]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(n-i,end=" ")
    print()

5
        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [30]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(n-j,end=" ")
    print()

5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

In [1]:
n=int(input())
for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

5
        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1